{% load i18n %}
<div class="sequence timed-exam completed" data-exam-id="{{exam_id}}">
  <h3>
    کیا آپ اس بات کو یقینی بناتے ہیں کہ آپ اپنا ٹائم شدہ امتحان جمع کرنا چاہتے ہیں؟
  </h3>
  <p>
    اس بات کو یقینی بنائیں کہ آپ اپنی امتحان جمع کرنے سے قبل ہر مسئلے کے لئے "جمع" کا انتخاب کیا ہے

  </p>
  <p>
    آپ اپنی امتحان جمع کرنے کے بعد، آپ کا امتحان درجہ بندی کیا جائے گا.
  </p>
  <button type="button" name="submit-proctored-exam" class="exam-action-button btn btn-pl-primary btn-base" data-action="submit" data-exam-id="{{exam_id}}" data-change-state-url="{{change_state_url}}">
    جی ہاں، اپنا ٹائم ٹیسٹ کریں.
  </button>
  {% if does_time_remain %}
    <button type="button" name="goback-proctored-exam" class="exam-action-button btn btn-secondary btn-base" data-action="start" data-exam-id="{{exam_id}}" data-change-state-url="{{change_state_url}}" style="box-shadow: none">
      نہیں، میں کام جاری رکھنا چاہتا ہوں.
    </button>
  {% endif %}
</div>
<script type="text/javascript">
  $('.exam-action-button').click(
    function(event) {

      // cancel any warning messages to end user about leaving timed exam
      $(window).unbind('beforeunload');

      var action_url = $(this).data('change-state-url');
      var exam_id = $(this).data('exam-id');
      var action = $(this).data('action');

      // Update the state of the attempt
      $.ajax({
        url: action_url,
        type: 'PUT',
        data: {
          action: action
        },
        success: function() {
          // Reloading page will reflect the new state of the attempt
          location.reload();
        }
      });
    }
  );
</script>
