{% load i18n %}
<div class="sequence proctored-exam completed" data-exam-id="{{exam_id}}">
  <h3>

    {% if has_time_expired %}
      {% blocktrans %}
        The time allotted for this test has expired. Your test has been submitted and any work you completed will be graded.
      {% endblocktrans %}
    {% else %}
      {% blocktrans %}
        You have submitted your timed test.
      {% endblocktrans %}
    {% endif %}

  </h3>
  <hr>
  <p>
    {% blocktrans %}
      Within the next two weeks, someone from the HR department will get in touch with you. Incase you do not make it to the next round, you will be informed via e-mail.
    {% endblocktrans %}
  </p>
</div>
